@use '/src/styles/constants/colors';

.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  form {
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-bottom: 40px;
    background-color: colors.$GRAYD;
    border-radius: 5px;

    input {
      padding: 5px 10px;
    }

    .searchIcon {
      width: 20px;
      height: 20px;
      stroke: colors.$GRAY3;
    }
  }

  ul {
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
  }
}

.noMovieText {
  color: colors.$GRAYA;
}
